@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

$wolves-dark-blue: #0c2340;
$wolves-light-blue: #236192;
$wolves-grey: #9ea2a2;
$wolves-green: #78be20;
$purple-rain-1: #221c35;
$purple-rain-2: #981d97;
$oswald: 'Oswald', sans-serif;
