@import './variables';

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-family: $oswald;
  color: $wolves-dark-blue;
  padding: 2rem 1rem;
}
h1,
h2 {
  text-align: center;
  padding: 1rem 0;
}
h1 {
  font-size: 4rem;
  letter-spacing: 2px;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  justify-content: center;
  gap: 1rem;
  perspective: 62.5rem;

  & .card {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 520px;
    border: 8px solid $wolves-dark-blue;
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform-style: preserve-3d;
    position: relative;

    &.card-flip {
      transform: rotateY(180deg);
    }
  }

  & .front,
  & .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  & .front {
    border: 4px solid $wolves-light-blue;
    z-index: 2;
    transform: rotateY(0deg);
  }
  .front-inner {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  .front-player-info {
    background: $wolves-dark-blue;
    color: $wolves-green;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0.25rem 0.125rem;

    & .player-name {
      font-size: 1.75rem;
      letter-spacing: 4px;
    }

    p {
      letter-spacing: 8px;
    }
    .player-position {
      letter-spacing: 2px;
      font-size: 0.8rem;
    }
  }

  .img-container {
    background: $wolves-green;
    position: absolute;
    width: 100%;
    max-height: 490px;
    overflow: hidden;

    .front-player-img {
      width: 100%;
      overflow: hidden;
    }

    .back-player-img {
      width: 100%;
    }
  }

  .logo {
    width: 80px;
    padding: 0.5rem;

    img {
      width: 100%;
    }
  }

  & .back {
    transform: rotateY(180deg);
    background: white;

    .back-player-stats {
      display: flex;
      flex-direction: column;

      p {
        font-size: 0.9rem;
        font-weight: 700;
        color: $wolves-dark-blue;
        z-index: 100;
      }
      .back-season {
        background: $wolves-green;
        border-left: 4px solid $wolves-light-blue;
        border-right: 4px solid $wolves-light-blue;
        border-top: 4px solid $wolves-light-blue;
        text-align: center;
        position: absolute;
        font-size: 1.2rem;
        width: 100%;
        padding: 1.5rem 0;
        top: 50%;
      }
      .stats-row {
        width: 100%;
      }
      ul {
        position: absolute;
        bottom: 0;
        border: 4px solid $wolves-light-blue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        width: 100%;
        height: 35%;

        li {
          margin: 1.5rem 0;
          border-bottom: 2px solid $wolves-dark-blue;
          text-align: center;
        }
      }
    }
  }
}
