@import './variables';

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-family: $oswald;
  padding: 2rem 1rem;
}
h1 {
  text-align: center;
  padding: 1rem 0;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  justify-content: center;
  gap: 1rem;
  perspective: 62.5rem;

  & .card {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 520px;
    border: 4px solid $wolves-dark-blue;
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform-style: preserve-3d;
    position: relative;

    &.card-flip {
      transform: rotateY(180deg);
    }
  }

  & .front,
  & .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
  }

  & .front {
    z-index: 2;
    transform: rotateY(0deg);
  }

  & .back {
    transform: rotateY(180deg);
  }
}
